.cart {
  margin: 40px 0;
  .produto-row {
    margin-bottom: 30px;
    background-color: #fff;
    margin-bottom: 30px;
    .infos {
      .titulo, .subtitulo, .preco {
        display: block;
        line-height: 18pt;
      }
      .titulo {
        font-size: 14pt;
        font-weight: bold;
      }
      .preco {
        font-weight: bold;
        font-size: 12pt;
      }
      .btn-add-to-cart {
        margin: 15px 0;
      }
    }
  }
}
