{% extends 'base.html.twig' %}

{% block title %}[Checkout] ShopChallenge{% endblock %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Xiii!!! Houve um problema ao processar sua compra</div>
        <div class="panel-body">
            <p>Olá! Infelizmente não foi possível processar sua operação corretamente. Tente mais uma vez por favor.</p>
        </div>
    </div>
{% endblock %}
